*, ::after, ::before {
    box-sizing: border-box;
}
body{
    margin: 0;
    line-height: var(--body-line-height);
    font-family: var(--font-inter);
    font-size: var(--font-size-base);
    font-weight: 400;
}

*{
margin-top:0;
}